@import url("https://fonts.googleapis.com/css2?family=Dhurjati&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Dhurjati&family=Rubik:ital,wght@0,400;0,500;0,600;0,700;1,700&display=swap");
*,
:root {
  --bg-color: #141414;
  --heading-color: rgb(255, 226, 123);
  --paragraph-color: rgb(255, 233, 194);
}
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style-type: none;
}
html {
  scroll-behavior: smooth;
}
body {
  background: #000428 !important;
  background: var(--bg-color) !important;
}
.navbar-background {
  background: #000428 !important;
  background-image: linear-gradient(to left, #434343 0%, black 100%) !important;
  background: linear-gradient(
      to bottom,
      rgba(255, 255, 255, 0.15) 0%,
      rgba(0, 0, 0, 0.15) 100%
    ),
    radial-gradient(
        at top center,
        rgba(255, 255, 255, 0.4) 0%,
        rgba(0, 0, 0, 0.4) 120%
      )
      #989898;
  background-blend-mode: multiply, multiply;
}
.homeBackgroundContent {
  min-height: 500px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='200' height='200' fill='none' viewBox='0 0 200 200' version='1.1' xmlnsXlink='http://www.w3.org/1999/xlink' xmlnsSvgjs='http://svgjs.dev/svgjs'%3E%3Cpath fill='%23272727' d='M165.963 134.037c-5.467 5.467-14.332 5.467-19.799 0l-24.137-24.138c-5.468-5.467-5.468-14.331 0-19.799l24.137-24.137c5.467-5.467 14.332-5.467 19.799 0L190.101 90.1c5.467 5.468 5.467 14.332 0 19.799l-24.138 24.138Zm-112.127 0c-5.467 5.467-14.332 5.467-19.8 0L9.9 109.899c-5.468-5.467-5.468-14.331 0-19.799l24.137-24.137c5.467-5.467 14.332-5.467 19.799 0L77.973 90.1c5.468 5.468 5.468 14.332 0 19.799l-24.137 24.138ZM109.9 190.1c-5.468 5.468-14.332 5.468-19.8 0l-24.137-24.137c-5.467-5.467-5.467-14.332 0-19.799l24.138-24.137c5.467-5.468 14.331-5.468 19.799 0l24.137 24.137c5.467 5.467 5.467 14.332 0 19.799L109.9 190.1Zm0-112.127c-5.468 5.468-14.332 5.468-19.8 0L65.963 53.836c-5.467-5.468-5.467-14.332 0-19.8L90.101 9.9c5.467-5.467 14.331-5.467 19.799 0l24.137 24.138c5.467 5.467 5.467 14.331 0 19.799L109.9 77.973Z'%3E%3C/path%3E%3Cdefs%3E%3ClinearGradient gradientTransform='rotate(0 0.5 0.5)' id='SvgjsLinearGradient1194'%3E%3Cstop stopOpacity='1' stopColor='rgba(105, 234, 203)' offset='0'%3E%3C/stop%3E%3Cstop stopOpacity='1' stopColor='rgba(234, 204, 248)' offset='0.48'%3E%3C/stop%3E%3Cstop stopOpacity='1' stopColor='rgba(29, 0, 255)' offset='1'%3E%3C/stop%3E%3C/linearGradient%3E%3C/defs%3E%3C/svg%3E");
  background-size: 100% 100%;
  background-position: center;
  background-repeat: no-repeat;
}
.text-color,
.nav-link {
  color: rgb(237, 183, 125) !important;
  font-family: "Dhurjati", sans-serif;
  font-size: 23px !important;
}
.navbar-toggler {
  border: none !important;
  background: transparent !important;
}
.image-container {
  position: relative;
  text-align: center;
}
.image-container img {
  mix-blend-mode: soft-light;
}
/* .card2{
  background-color: rgba(
    0,
    0,
    0,
    0.6
  )  !important;
} */
.centered-card {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(
    255,
    255,
    255,
    0.9
  ); /* Adjust background color and opacity */
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Optional: Add a subtle box shadow */
}

.centered-card p {
  margin: 0;
  font-size: 18px;
  font-weight: bold;
  /* background-image: linear-gradient(to top, #fcc5e4 0%, #fda34b 15%, #ff7882 35%, #c8699e 52%, #7046aa 71%, #0c1db8 87%, #020f75 100%);
  color: transparent;
  background-clip: text;
  -webkit-background-clip: text; */
  color: #000428;
}
.line {
  width: 80px;
  height: 2px;
  background-color: #333; /* Adjust line color */
  margin: 5px auto; /* Adjust margin to center the line */
}
.text-gradient {
  font-size: 24px !important;
  font-weight: 660 !important;
  background-image: linear-gradient(to right, #fa709a 0%, #fee140 100%);
  color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
  font-family: "Dhurjati", sans-serif;
  font-family: "Rubik", sans-serif;
}
.line2 {
  width: 120px;
  height: 2px;
  background-image: linear-gradient(to right, #fa709a 0%, #fee140 100%);
  margin-top: -13px;
}
.sub-text {
  font-size: 16px;
  font-weight: normal;
  color: antiquewhite;
}
.image-containerAbout {
  display: inline-block;
  position: relative;
}

.bordered-image {
  border-radius: 4px;
  display: block;
  transition: transform 0.3s ease;
}
.image-containerAbout:hover .bordered-image {
  transform: scale(1.03); /* Scales the image on hover */
}
.border {
  position: absolute;
  left: 55px;
  bottom: -15px;
  border: 2px solid white !important; /* Set the color of the border as per your preference */
  width: 280px;
  height: 350px;
  border-radius: 3px;
  z-index: 0;
}
.border1 {
  position: absolute;
  left: 55px;
  bottom: -15px;
  border: 2px solid white !important; /* Set the color of the border as per your preference */
  width: 90%;
  height: 350px;
  border-radius: 3px;
  z-index: 0;
}
.border2 {
  position: absolute;
  left: 15px;
  bottom: -10px;
  border: 2px solid rgb(91, 81, 81) !important; /* Set the color of the border as per your preference */
  width: 350px;
  height: 350px;
  border-radius: 50%;
  z-index: 0;
}
.text-gradient2 {
  font-size: 24px;
  font-weight: 630;
  background-image: linear-gradient(to right, #fa709a 0%, #fee140 100%);
  color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
  background-image: linear-gradient(to top, #9be15d 0%, #00e3ae 100%);
}
.home-p-text {
  color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
  background-image: linear-gradient(to bottom, #ffcd68 0%, #ff4444 100%);
  font-size: 17px !important;
  font-weight: 550 !important;
  font-family: "Dhurjati", sans-serif;
  font-family: "Rubik", sans-serif;
}
.font-color {
  background: #f3b4b4 !important;
}
.navbar-toggler-icon {
  background-image: url("./Assets/Menu.png") !important;
}
.active .navbar-toggler-icon {
  background-image: url("https://cdn-icons-png.flaticon.com/128/11527/11527988.png") !important;
  background-image: url("./Assets/close.png") !important;
}

.portofolio-card {
  display: flex;
  align-items: center;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
}
.portofolio-card .card-subitem {
  margin: 7px;
}
.testimonial {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 500px;
  background-image: url("https://img.freepik.com/free-photo/golden-frame-blue-background_53876-92990.jpg?size=626&ext=jpg&ga=GA1.1.260354095.1700988836&semt=sph");
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center;
  width: 90%;
  margin: 10px auto;
  border-radius: 7px;
}
.testimonial-card {
  display: flex;
  flex-direction: column;
  width: 270px;
  height: 340px;
  background: rgba(0, 0, 0, 0.3);
  padding: 20px;
  border-radius: 3px;
}
.color2 {
  font-size: 46px !important;
  font-weight: 700 !important;
  font-family: serif;
}
.testimonial-a {
  font-family: serif !important;
  color: rgb(132, 183, 253);
  font-size: 17px;
  font-weight: 600;
  margin: 10px !important;
}
@media (min-width: 560px) {
  .testimonial-card {
    width: 370px;
    height: 350px;
  }
}
.card {
  background: transparent;
  border: none !important;
  box-shadow: none !important;
}
.card-body {
  flex: 1 1 auto;
  background: var(--bg-color);
  padding: var(--bs-card-spacer-y) var(--bs-card-spacer-x);
  color: var(--bs-card-color);
}
.card-title {
  color: var(--heading-color) !important;
  font-family: "Dhurjati", sans-serif;
  font-size: 27px !important;
}
.card-text {
  color: antiquewhite;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}
.heading {
  font-size: 28px !important;
  color: var(--heading-color);
}
.p-text {
  text-decoration: none !important;
  color: #797979;
}
.p-text1 {
  font-size: 20px !important;
  color: var(--paragraph-color);
}
.card .bg-image {
  border-top-left-radius: none !important;
  border-top-right-radius: none !important;
}
.contact-card {
  background: transparent !important;
}
.form-control:focus,
.form-control:active,
.form-control:visited,
.form-control:hover,
.form-control:focus-within,
.form-control:focus-visible {
  background: transparent !important;
  color: white !important;
}
.form-label {
  color: var(--paragraph-color) !important;
  font-size: 14px !important;
}
.contact-button {
  box-shadow: none !important;
  background: var(--heading-color) !important;
  padding: 5px !important;
  color: #000428 !important;
  border: none !important;
  width: 100px !important;
}
.form-control {
  color: var(--paragraph-color) !important;
}
.modal {
  background-color: rgba(0, 0, 0, 0.5) !important;
}

.modal-content {
  background-color: #160e0ee3 !important;
  border: 1.6px solid wheat !important;
}

.modal-header,
.modal-footer {
  border: none !important;
}
/* Add these styles to your CSS */
.preview-container {
  position: relative;
  display: inline-block;
  margin-right: 10px;
}

.preview-image {
  width: 65px;
  height: 65px;
  object-fit: cover;
  border: 1px solid #ccc;
  margin-bottom: 5px;
}

.remove-button {
  position: absolute;
  top: 5px;
  right: 5px;
  cursor: pointer;
  color: red !important;
}

/* You can adjust the max-width and padding as needed */
.portfolioCard_subItem {
  max-width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5px;
  box-sizing: border-box;
}
@media (max-width: 575px) {
  /* Mobile devices */
  .portfolioCard_subItem img {
    height: 350px;
    width: 350px;
  }
}

@media (min-width: 576px) and (max-width: 767px) {
  /* Small devices */
  .portfolioCard_subItem img {
    height: 400px;
    width: 400px;
  }
}

@media (min-width: 768px) {
  /* Large devices */
  .portfolioCard_subItem img {
    height: 300px;
    width: 300px;
    padding: 5px;
  }
}
@keyframes blink {
  0% {
    background-color: #fe8686;
  }
  50% {
    background-color: #afffaf; /* Change to the color you want during the blink */
  }
  100% {
    background-color: #9286fe;
  }
}

.whatsappIcon {
  background: #b1dba8;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000000;
  position: fixed;
  bottom: 50px;
  right: 30px;
  transform: scale(1);
  animation: blink 2s infinite;
  transition: transform 0.3s ease-in-out; /* Optional: Add smooth transition effect */
}

.modal-header .btn-close {
  color: darkred !important;
  background-image: url("https://cdn-icons-png.flaticon.com/128/11450/11450177.png") !important;
  background-size: 100% 100% !important;
  background-position: center;
}

.modal-header .btn-close:hover {
  color: darkred !important;
}
.dropzone p {
  border: 1px solid #141414;
  background: #0f0909e3;
  color: #e7f6c5;
  height: 60px;
  width: 100%;
  text-align: center;
  border-radius: 7px;
  font-size: 12px;
}
.modal-body .form-control {
  background: #100a0ae3 !important;
  color: wheat !important;
}
.modal-body .form-control:focus {
  box-shadow: none !important;
  border: 1px solid wheat !important;
}
.portfolio-details_content {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;
  width: 100%;
}
/* Add this CSS to your component or import it from a separate stylesheet */

/* Add this CSS to your styles file or component */

/* Add this CSS to your styles file or component */

/* Styles for the overlay/background */
.ModalOverlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.7); /* Semi-transparent black overlay */
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
  border: none !important;
  box-shadow: none !important;
}

/* Styles for the modal content */
.ModalContent {
  background-color: #170505; /* White background for the modal */
  padding: 20px;
  /* box-shadow: 0 0 10px rgba(0, 0, 0, 0.3); */
  max-width: 360px; /* Adjust the max-width based on your content */
  width: 100%;
  position: relative;
  border-radius: 8px !important;
}

.popUpButtonContent {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin: auto !important;
}

/* Center the modal content vertically and horizontally */
.ModalContent {
  text-align: center;
}

.popUpText {
  font-size: 17px !important;
  color: var(--paragraph-color);
}
.CloseButton {
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30px;
  height: 30px;
  background-color: white; /* Set close button background color to red */
  color: red; /* Set close button text color to white */
  border-radius: 50%; /* Make close button circular */
}

.CloseButton:hover {
  text-decoration: underline;
}
.imageGallery .card {
  border-radius: 7px !important;
}
.imageGallery {
  img {
    width: 100%;
    height: auto;
    border-radius: 5px !important;
  }
}

@media (max-width: 767px) {
  .imageGallery {
    img {
      height: 130px;
      width: 100%;
    }
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .imageGallery {
    img {
      height: 150px;
      width: 100%;
    }
  }
}

@media (min-width: 992px) {
  .imageGallery {
    img {
      height: 180px;
      width: 100%;
    }
  }
}
/* In your CSS file or component styles */
.navbar-toggler-bg {
  transition: background-image 0.3s ease; /* Optional: Add transition for smoother effect */
  background-image: url("https://cdn-icons-png.flaticon.com/128/5461/5461272.png");
  /* Add other styles as needed */
}

.navbar-toggler-bg.active {
  background-image: url("https://cdn-icons-png.flaticon.com/128/4735/4735391.png");
  /* Add other styles as needed for the active state */
}
.spinner_Content {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;
}

/* Gallery.css (CSS Stylesheet) */

.gallery-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px;
}

.diamond-gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.diamond-gallery img {
  width: 100px; /* Adjust as needed */
  height: 100px; /* Adjust as needed */
  transform: rotate(45deg);
  margin: 10px;
}

.diamond-center {
  transform: rotate(45deg);
  margin-bottom: 20px;
}

.diamond-center img {
  width: 200px; /* Adjust as needed */
  height: 200px; /* Adjust as needed */
  border-radius: 7px;
}
.gallery-container {
  position: relative;
}

.gallery-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6));
  pointer-events: none;
  z-index: 1;
}

.react-photo-album-photo {
  position: relative;
  z-index: 2;
}
