@import url("https://fonts.googleapis.com/css2?family=Dhurjati&display=swap");
*,
:root{
  --bg-color:#141414;
  --heading-color:rgb(255, 226, 123);
  --paragraph-color:rgb(255, 233, 194);
}
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style-type: none;
}
html {
  scroll-behavior: smooth;
}
body {
  background: #000428 !important;
  background: var(--bg-color) !important;
}
.navbar-background {
  background: #000428 !important;
}

.text-color,
.nav-link {
  color: rgb(132, 183, 253) !important;
  font-family: "Dhurjati", sans-serif;
  font-size: 23px !important;
}
.navbar-toggler {
  border: 2px solid rgb(132, 183, 253) !important;
  background: rgb(132, 183, 253) !important;
  color: #000428 !important;
}
.image-container {
  position: relative;
  text-align: center;
}
/* .card2{
  background-color: rgba(
    0,
    0,
    0,
    0.6
  )  !important;
} */
.centered-card {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(
    255,
    255,
    255,
    0.9
  ); /* Adjust background color and opacity */
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Optional: Add a subtle box shadow */
}

.centered-card p {
  margin: 0;
  font-size: 18px;
  font-weight: bold;
  /* background-image: linear-gradient(to top, #fcc5e4 0%, #fda34b 15%, #ff7882 35%, #c8699e 52%, #7046aa 71%, #0c1db8 87%, #020f75 100%);
  color: transparent;
  background-clip: text;
  -webkit-background-clip: text; */
  color: #000428;
}
.line {
  width: 80px;
  height: 2px;
  background-color: #333; /* Adjust line color */
  margin: 5px auto; /* Adjust margin to center the line */
}
.text-gradient {
  font-size: 24px;
  font-weight: 630;
  background-image: linear-gradient(to right, #fa709a 0%, #fee140 100%);
  color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
}
.line2 {
  width: 120px;
  height: 2px;
  background-image: linear-gradient(to right, #fa709a 0%, #fee140 100%);
  margin-top: -13px;
}
.sub-text {
  font-size: 16px;
  font-weight: normal;
  color: antiquewhite;
}
.image-containerAbout {
  display: inline-block;
  position: relative;
}

.bordered-image {
  border-radius: 4px;
  display: block;
  transition: transform 0.3s ease; 
}
.image-containerAbout:hover .bordered-image {
  transform: scale(1.03); /* Scales the image on hover */
}
.border {
  position: absolute;
  left: 55px;
  bottom: -15px;
  border: 2px solid white !important; /* Set the color of the border as per your preference */
  width: 280px;
  height: 350px;
  border-radius: 3px;
  z-index: 0;
}
.border1 {
  position: absolute;
  left: 55px;
  bottom: -15px;
  border: 2px solid white !important; /* Set the color of the border as per your preference */
  width: 90%;
  height: 350px;
  border-radius: 3px;
  z-index: 0;
}
.text-gradient2{
  font-size: 24px;
  font-weight: 630;
  background-image: linear-gradient(to right, #fa709a 0%, #fee140 100%);
  color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
  background-image: linear-gradient(to top, #9be15d 0%, #00e3ae 100%);
}
.font-color{
  background: #f3b4b4 !important;
}
.navbar-toggler-icon{
 background-image: var(--bs-navbar-toggler-icon-bg) !important;
}

::-webkit-scrollbar {
  width: 1px;
}

::-webkit-scrollbar-thumb {
  border-radius: 1rem;
  background: #797979;
  transition: all 0.5s ease-in-out;
}

::-webkit-scrollbar-thumb:hover {
  background: #222224;
}

::-webkit-scrollbar-track {
  background: #f9f9f9;
}
.portofolio-card{
  display: flex;
  align-items: center;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
}
.portofolio-card .card-subitem{
  margin: 7px;
}
.testimonial{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 500px;
  background-image: url('https://img.freepik.com/free-photo/golden-frame-blue-background_53876-92990.jpg?size=626&ext=jpg&ga=GA1.1.260354095.1700988836&semt=sph');
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center;
  width: 90%;
  margin: 10px auto;
  border-radius: 7px;
}
.testimonial-card{
  display: flex;
  flex-direction: column;
  width: 270px;
  height: 340px;
  background: rgba(0, 0, 0, 0.3);
  padding: 20px;
  border-radius: 3px;
}
.color2{
  font-size: 46px !important;
  font-weight: 700 !important;
  font-family: serif;
}
.testimonial-a{
font-family: serif !important;
color: rgb(132, 183, 253) ;
font-size: 17px;
font-weight: 600;
margin: 10px !important;

}
@media (min-width: 560px) {
  .testimonial-card {
    width: 370px;
    height: 350px;
  }
}
.card{
  background: transparent;
  border: none !important;
  box-shadow:none !important;

}
.card-body {
    flex: 1 1 auto;
    background: var(--bg-color);
    padding: var(--bs-card-spacer-y) var(--bs-card-spacer-x);
    color: var(--bs-card-color);
}
.card-title{
  color: var(--heading-color) !important;
  font-family: "Dhurjati", sans-serif;
  font-size: 27px !important;
}
.card-text{
  color: antiquewhite;
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
}
.heading{
font-size: 28px !important;
color: var(--heading-color);
}
.p-text{
  text-decoration: none !important;
  color: #797979;
}
.p-text1{
  font-size: 20px !important;
color: var(--paragraph-color);
}
.card .bg-image {
  border-top-left-radius: none !important;
  border-top-right-radius: none !important;
}
.contact-card{
  background:  transparent !important;;
}
.form-control:focus,.form-control:active,.form-control:visited,.form-control:hover,.form-control:focus-within,.form-control:focus-visible{
  background: transparent !important;
  color: white !important;
}
.form-label{
  color: var(--paragraph-color) !important;
  font-size: 14px !important;
}
.contact-button{
  box-shadow: none !important;;
  background: var(--heading-color) !important;
  padding: 5px !important;
  color: #000428 !important;
  border: none  !important;
}
.form-control{
  color: var(--paragraph-color) !important;
}
.modal {
  background-color: rgba(0, 0, 0, 0.5) !important;
}

.modal-content {
  background-color: #160e0ee3 !important;
  border: 1.6px solid wheat !important;
}

.modal-header,
.modal-footer {
  border: none !important;
}
/* Add these styles to your CSS */
.preview-container {
  position: relative;
  display: inline-block;
  margin-right: 10px;
}

.preview-image {
  width: 65px;
  height: 65px;
  object-fit: cover;
  border: 1px solid #ccc;
  margin-bottom: 5px;
}

.remove-button {
  position: absolute;
  top: 5px;
  right: 5px;
  cursor: pointer;
  color: red !important;
}


/* You can adjust the max-width and padding as needed */
.portfolioCard_subItem {
  max-width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5px;
  box-sizing: border-box;
}
@media (max-width: 575px) { /* Mobile devices */
  .portfolioCard_subItem img {
    height: 350px;
    width: 350px;
  }
}

@media (min-width: 576px) and (max-width: 767px) { /* Small devices */
  .portfolioCard_subItem img {
    height: 400px;
    width: 400px;
  }
}

@media (min-width: 768px) { /* Large devices */
  .portfolioCard_subItem img {
    height: 300px;
    width: 300px;
    padding: 5px;
  }
}
.whatsappIcon{
  background: #000;
  border-radius: 50%;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 10px;
  margin: 8px;
}
.modal-header .btn-close {
  color: darkred !important;
  background-image: url('https://cdn-icons-png.flaticon.com/128/11450/11450177.png') !important;
  background-size: 100% 100% !important;
background-position: center}


.modal-header .btn-close:hover {
  color: darkred !important;
}
.dropzone p{
  border: 1px solid #141414;;
  background: #0f0909e3;
  color: #e7f6c5;
  height: 60px ;
  width: 100%;
  text-align: center;
  border-radius: 7px;
  font-size: 12px;
}
.modal-body .form-control{
  background: #100a0ae3 !important;
  color: wheat !important;
}
.modal-body .form-control:focus {
  box-shadow: none !important;
  border: 1px solid wheat !important;;
}
.portfolio-details_content{
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;
  width: 100%;
}